[submodule "program/cdfr2023-programme-base-roulante-asservissment"]
	path = program/cdfr2023-programme-base-roulante-asservissment
	url = git@github.com:Les-Chopaings/cdfr2023-programme-base-roulante-asservissment.git
[submodule "program/librairie-commune"]
	path = program/librairie-commune
	url = git@github.com:Les-Chopaings/librairie-commune.git
[submodule "program/simulation-asservissement"]
	path = program/simulation-asservissement
	url = git@github.com:Les-Chopaings/simulation-asservissement.git
[submodule "program/CDFR-programme-principal"]
	path = program/CDFR-programme-principal
	url = git@github.com:Les-Chopaings/CDFR-programme-principal.git
