[submodule "program/cdfr2023-programme-base-roulante-asservissment"]
	path = programme/cdfr2023-programme-base-roulante-asservissment
	url = git@github.com:Les-Chopaings/cdfr2023-programme-base-roulante-asservissment.git
[submodule "program/librairie-commune"]
	path = programme/librairie-commune
	url = git@github.com:Les-Chopaings/librairie-commune.git
[submodule "program/simulation-asservissement"]
	path = programme/simulation-asservissement
	url = git@github.com:Les-Chopaings/simulation-asservissement.git
[submodule "elelctronic/cdfr2023-base-roulante-carte-asservissment"]
	path = electronique/cdfr2023-base-roulante-carte-asservissment
	url = git@github.com:Les-Chopaings/cdfr2023-base-roulante-carte-asservissment.git
[submodule "elelctronic/carte-Raspberry"]
	path = electronique/carte-Raspberry
	url = git@github.com:Les-Chopaings/carte-Raspberry.git
[submodule "program/CDFR-programme-principal"]
	path = programme/CDFR-programme-principal
	url = git@github.com:Les-Chopaings/CDFR-programme-principal.git
[submodule "program/Pamis-programm"]
	path = programme/Pamis-programm
	url = git@github.com:Les-Chopaings/Pamis-programme.git
